<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />


<dom-module id="account-cliente">
  <template>
    <style>
      :host {
        display: block;
      }
      .iron-selected {
        background: #eee;
      }

      paper-listbox {
        border: 1px dotted #ccc;
      }

      paper-item {
        cursor: pointer;
      }

    </style>


    <h1>Consulta tus Cuentas</h1>

    <p>Escoge la cuenta a Consultar </p>
    <paper-dropdown-menu no-animations   >
      <paper-listbox slot="dropdown-content" class="dropdown-content"
       on-iron-select="_accountSelected">
       <template is="dom-repeat" items="{{cuentas}}">
        <paper-item >[[item.account_id]]</paper-item>
      </template>
      </paper-listbox>
    </paper-dropdown-menu>

    <p>Escoge el tipo de movimiento </p>
    <paper-dropdown-menu no-animations   >
      <paper-listbox slot="dropdown-content" class="dropdown-content"
       on-iron-select="_itemSelected">
        <paper-item >DEPOSITO</paper-item>
        <paper-item >RETIRO</paper-item>
      </paper-listbox>
    </paper-dropdown-menu>

    <div class="wrapper-btns">
      <paper-button raised class="primary" on-tap="getMovements" >Mostrar Movimientos</paper-button>
    </div>

    <table class="table ">
          <thead>
            <th>Movimiento</th>
            <th>Usuario</th>
            <th>Cuenta</th>
            <th>Monto</th>
            <th>Tipo</th>
            <th>Fecha</th>
          </thead>
          <tbody>
            <tbody>
              <template is="dom-repeat" items="{{movimientos}}">
                <tr>
                  <td>
                    [[item.movement_id]]
                  </td>
                  <td>
                    [[item.user_id]]
                  </td>
                  <td>
                    [[item.account_id]]
                  </td>
                  <td>
                    [[item.amount]]
                  </td>
                  <td>
                    [[item.type]]
                  </td>
                  <td>
                    [[item.date]]
                  </td>
                </tr>
              </template>
            </tbody>
        </table>


  </template>




  <script>
    /**
     * @customElement
     * @polymer
     */
    class AccountCliente extends Polymer.Element {
      static get is() { return 'account-cliente'; }
      static get properties() {
        return {
          movimientos: {
            type: Array,
            value: {}
          },
          cuentas: {
            type: Array,
            value: {}
          },
          cuentaSelected: String,
          tipoMovimiento: String,
          user: String

        };
      }

      //CARGA DESPLEGABLE CON TODAS LAS CUENTAS DEL CLIENTE
      constructor(){
        super();
        this.user = localStorage.getItem("user_id");
        var request = new XMLHttpRequest();
        var urlQuery = "http://localhost:3000/apiperu/v1/accounts/"+this.user+"/";
        request.open("GET", urlQuery, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.cuentas = JSON.parse(request.responseText);
        }

      //LISTA LOS MOVIMIENTOS DEL CLIENTE
      //SE PUEDE FILTRAR POR NUMERO DE CUENTA O TIPO DE MOVIMIENTO
      getMovements() {
        var request = new XMLHttpRequest();
        var urlQuery = "http://localhost:3000/apiperu/v1/movements/"+this.user;
        if (this.cuentaSelected)
          urlQuery=urlQuery+"/"+this.cuentaSelected;
        if (this.tipoMovimiento)
          urlQuery=urlQuery+"/type/'"+this.tipoMovimiento+"'";
        request.open("GET", urlQuery, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.movimientos = JSON.parse(request.responseText);

      }
      _accountSelected(e){
        this.cuentaSelected = e.target.selectedItem.innerText;
      }
      _itemSelected (e){
        this.tipoMovimiento = e.target.selectedItem.innerText;

      }


    }

    window.customElements.define(AccountCliente.is, AccountCliente);
  </script>
</dom-module>
