<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="currency-converter">
  <template>
    <style>
      :host {
        display: block;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }

      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
    </style>

    <h1>Consulta el Tipo de Cambio</h1>

    <p>Escoge la Moneda Origen</p>
    <paper-dropdown-menu no-animations   >
      <paper-listbox slot="dropdown-content" class="dropdown-content"
       on-iron-select="_origenSelected">
        <paper-item >PEN</paper-item>
        <paper-item >USD</paper-item>
        <paper-item >EUR</paper-item>
      </paper-listbox>
    </paper-dropdown-menu>

    <p>Escoge la Moneda Destino </p>
    <paper-dropdown-menu no-animations   >
      <paper-listbox slot="dropdown-content" class="dropdown-content"
       on-iron-select="_destinoSelected">
       <paper-item >PEN</paper-item>
       <paper-item >USD</paper-item>
       <paper-item >EUR</paper-item>
      </paper-listbox>
    </paper-dropdown-menu>

    <p>Ingrese el monto a Convertir </p>
    <paper-input-container>
      <iron-input slot="input" bind-value="{{formData.montoInput}}">
        <input id="montoInput" type="text" value="[[formData.montoInput]]" >
      </iron-input>
    </paper-input-container>


    <p>El tipo de cambio es  </p>
    <paper-input-container>
      <iron-input slot="input" bind-value="{{tipoCambio}}">
        <input id="tipoCambio" disabled type="text" value="{{tipoCambio}}" >
      </iron-input>
    </paper-input-container>

    <p>El monto convertido es </p>
    <paper-input-container>
      <iron-input slot="input" bind-value="{{montoOutput}}">
        <input id="montoOutput" type="text" disabled value="{{montoOutput}}" >
      </iron-input>
    </paper-input-container>

    <div class="wrapper-btns">
      <paper-button raised class="primary" on-tap="convertCurrency" >Convertir</paper-button>
    </div>


  </template>




  <script>
    /**
     * @customElement
     * @polymer
     */
    class CurrencyConverter extends Polymer.Element {
      static get is() { return 'currency-converter'; }
      static get properties() {
        return {
          formData: {
            type: Object,
            value: {}
          },
          monedaOrigen: String,
          monedaDestino: String,
          montoOutput:String,
          tipoCambio:String

        };
      }

      //RETORNA EL TIPO DE CAMBIO Y LA CANTIDAD INGRESADA CONVERTIDA A LA NUEVA
      //MONEDA
      convertCurrency() {
        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3000/apiperu/v1/currency/", false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var nuevaConsulta = {
          "fromCurrency" : this.monedaOrigen,
          "toCurrency" : this.monedaDestino,
          "amount" : this.formData.montoInput
        };
        var body = JSON.stringify(nuevaConsulta);
        request.send(body);
        if (request.status == 404){
          this.errorCode=request.responseText;
        }
        else {
          var convertData=JSON.parse(request.responseText)
          this.tipoCambio=convertData.tipo_cambio;
          this.montoOutput=convertData.val_converted;
        }

      }

      _origenSelected(e){
        this.monedaOrigen = e.target.selectedItem.innerText;
      }
      _destinoSelected (e){
        this.monedaDestino = e.target.selectedItem.innerText;
      }
    }

    window.customElements.define(CurrencyConverter.is, CurrencyConverter);
  </script>
</dom-module>
