<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">



<dom-module id="login-cliente">
  <template>
    <style>
      :host {
        display: block;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }

      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
    </style>


    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>


    <div class="card">
        <div id="unauthenticated" hidden$="[[storedUser.login]]">
          <h1>Log In</h1>


          <p><strong>Log in</strong> or <strong>sign up</strong></p>

          <template is="dom-if" if="[[errorCode]]">
            <p class="alert-error"><strong>Error:</strong> [[errorCode]]</p>
            </template>
            <paper-input-container>
              <label slot="input">Email</label>
              <iron-input slot="input" bind-value="{{formData.email}}">
                <input id="email" type="text" value="{{formData.email}}" placeholder="Email">
              </iron-input>
            </paper-input-container>

            <paper-input-container>
              <label>Password</label>
              <iron-input slot="input" bind-value="{{formData.password}}">
                <input id="password" type="password" value="{{formData.password}}" placeholder="Password">
              </iron-input>
            </paper-input-container>

            <div class="wrapper-btns">
              <paper-button raised class="primary" on-tap="loginCliente" >Log In</paper-button>
            </div>
          </div>

          <div id="authenticated" hidden$="[[!storedUser.login]]">
            <h2>Hola, [[storedUser.first_name]]!</h2>
            <p>Ya estas logeado a la pagina</a>!</p>
          </div>
        </div>


  </template>




  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginCliente extends Polymer.Element {
      static get is() { return 'login-cliente'; }
      static get properties() {
        return {
          formData: {
            type: Object,
            value: {}
          },
          storedUser: Object,
          errorCode: String
        };
      }
      
      loginCliente() {
        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3000/apiperu/v1/login/", false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var nuevoCliente = {
          "email" : this.formData.email,
          "password" : this.formData.password
        };
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        if (request.status == 404){
          this.errorCode=request.responseText;
        }
        else {
          this.storedUser=JSON.parse(request.responseText);
          localStorage.setItem("user_id", this.storedUser.user_id);
        }

      }
    }

    window.customElements.define(LoginCliente.is, LoginCliente);
  </script>
</dom-module>
