<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
  <link rel="import" href="../bower_components/paper-item/paper-item.html">
  <link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />

<dom-module id="make-transference">
  <template>
    <style>
      :host {
        display: block;
      }
      .iron-selected {
        background: #eee;
      }

      paper-listbox {
        border: 1px dotted #ccc;
      }

      paper-item {
        cursor: pointer;
      }

    </style>

    <h1>Transfiere entre tus Cuentas</h1>

    <p>Escoge la cuenta Origen </p>
    <paper-dropdown-menu no-animations   >
      <paper-listbox slot="dropdown-content" class="dropdown-content"
       on-iron-select="_origenSelected">
       <template is="dom-repeat" items="{{cuentas}}">
        <paper-item >[[item.account_id]]</paper-item>
      </template>
      </paper-listbox>
    </paper-dropdown-menu>

    <p>Escoge la cuenta Destino </p>
    <paper-dropdown-menu no-animations   >
      <paper-listbox slot="dropdown-content" class="dropdown-content"
       on-iron-select="_destinoSelected">
       <template is="dom-repeat" items="{{cuentas}}">
        <paper-item >[[item.account_id]]</paper-item>
      </template>
      </paper-listbox>
    </paper-dropdown-menu>

    <p>Ingrese el monto a Transferir </p>
    <paper-input-container>
      <iron-input slot="input" bind-value="{{formData.monto}}">
        <input id="monto" type="text" value="{{formData.monto}}" placeholder="Cantidad">
      </iron-input>
    </paper-input-container>



    <div class="wrapper-btns">
      <paper-button raised class="primary" on-tap="makeMovement" >Realizar Transferencia</paper-button>
    </div>


    <p > [[errorCode]]</p>
  </template>




  <script>
    /**
     * @customElement
     * @polymer
     */
    class MakeTransference extends Polymer.Element {
      static get is() { return 'make-transference'; }
      static get properties() {
        return {
          cuentas: {
            type: Array,
            value: {}
          },
          cuentaOrigen: Number,
          cuentaDestino: Number,
          user: String,
          formData: {
            type: Object,
            value: {}
          }

        };
      }

      //CARGA DESPLEGABLE CON TODAS LAS CUENTAS DEL CLIENTE
      constructor(){
        super();
        var request = new XMLHttpRequest();
        this.user = localStorage.getItem("user_id");
        var urlQuery = "http://localhost:3000/apiperu/v1/accounts/"+this.user+"/";
        request.open("GET", urlQuery, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.cuentas = JSON.parse(request.responseText);
        }


      makeMovement() {
        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3000/apiperu/v1/movements/", false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
         var fechaMovimiento = new Date();

        //DEBITAMOS DE LA CUENTA ORIGEN
        var nuevoMovimiento = {
          "user_id" : 50,
          "account_id" : this.cuentaOrigen,
          "amount":this.formData.monto,
          "type":"RETIRO",
          "date":fechaMovimiento.toLocaleDateString()
        };
        var body = JSON.stringify(nuevoMovimiento);
        request.send(body);
        if (request.status == 404){
          this.errorCode=request.responseText;
        }
        //ABONAMOS A LA CUENTA DESTINO
        request.open("POST", "http://localhost:3000/apiperu/v1/movements/", false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var nuevoMovimiento = {
          "user_id" : 50,
          "account_id" : this.cuentaDestino,
          "amount":this.formData.monto,
          "type":"DEPOSITO",
          "date":fechaMovimiento.toLocaleDateString()
        };
        var body = JSON.stringify(nuevoMovimiento);
        request.send(body);
        if (request.status == 404){
          this.errorCode=request.responseText;
        }
        else {
          this.errorCode="Transferencia Exitosa";
        }

      }
      _origenSelected(e){
        this.cuentaOrigen = Number(e.target.selectedItem.innerText);
      }
      _destinoSelected (e){
        this.cuentaDestino = Number(e.target.selectedItem.innerText);
      }


    }

    window.customElements.define(MakeTransference.is, MakeTransference);
  </script>
</dom-module>
