<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="register-cliente">
  <template>
    <style>
      :host {
        display: block;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }

      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
    </style>

    <h1>Registro</h1>

    <paper-input-container>
      <label slot="input">Nombre</label>
      <iron-input slot="input" bind-value="{{formData.username}}">
        <input id="username" type="text" value="{{formData.username}}" placeholder="Username">
      </iron-input>
    </paper-input-container>

    <paper-input-container>
      <label slot="input">Apellidos</label>
      <iron-input slot="input" bind-value="{{formData.lastname}}">
        <input id="lastname" type="text" value="{{formData.lastname}}" placeholder="Lastname">
      </iron-input>
    </paper-input-container>

    <paper-input-container>
      <label slot="input">Email</label>
      <iron-input slot="input" bind-value="{{formData.email}}">
        <input id="email" type="email" value="{{formData.email}}" placeholder="Email">
      </iron-input>
    </paper-input-container>

    <paper-input-container>
      <label>Password</label>
      <iron-input slot="input" bind-value="{{formData.password}}">
        <input id="password" type="password" value="{{formData.password}}" placeholder="Password">
      </iron-input>
    </paper-input-container>

    <div class="wrapper-btns">
      <paper-button raised class="primary" on-tap="registroCliente" >Register</paper-button>
    </div>

    <p > [[responseCode]]</p>


  </template>




  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegisterCliente extends Polymer.Element {
      static get is() { return 'register-cliente'; }
      static get properties() {
        return {
          formData: {
            type: Object,
            value: {}
          },
          responseCode: String
        };
      }
      registroCliente() {
        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3000/apiperu/v1/users/", false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var nuevoCliente = {
          "first_name" : this.formData.username,
          "last_name" : this.formData.lastname,
          "email" : this.formData.username,
          "password" : this.formData.password
        };
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        if (request.status == 404){
          this.responseCode=request.responseText;
        }else {
          this.responseCode="Alta Exitosa";
        }

      }
    }

    window.customElements.define(RegisterCliente.is, RegisterCliente);
  </script>
</dom-module>
